body,html{
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main{
    /* background: #cc2b5e;
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e); 
    background: linear-gradient(to right, #414491, #cc2b5e); */
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 100vh;
    overflow-y: scroll;
    /* background: #F09819;  
    background: -webkit-linear-gradient(to right, #EDDE5D, #F09819); 
    background: linear-gradient(to right, #EDDE5D, #F09819);  */

}

#heading{
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.2) !important;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.6);
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.6);
}

.wi.wi-cloudy{
    font-size: 25px;
    margin-left: 10px;
}

.form-control{
    background-color: #863f7000;
    color: white;
}

.input-group{
    display: flex;
    align-items: center;
    background-color: #c5993d00;
    width: 100%;
    height: 50px;
    margin:0 !important;
}

::placeholder{
    font-size: 18px;
    color: white;
}

.fas.fa-search{
    font-size: 10px;
    border: none;

}

.input-group-append{
    background-color: #007bff00;
    color: white;
}

.input-group .form-control :focus{
   background-color: #c5993d00;
}
.background {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(88, 88, 88, 0.28);
    margin: 40px auto;
    position: relative;
    align-items: center;
    max-width: 600px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,1);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city-info {
    color: white;
    text-align: center
}
.weather {
    font-size: 17px;
}

p {
    margin-top: 0;
    margin-bottom: 6px;
    margin-right: 0px;
}

.city
{
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}

.temp-detail {
    display: flex;
    justify-content: center;
}

.h1, h1 {
    font-size: 2.5rem;
}

.temp-detail .wi.wi-degrees {
    font-size: 46px;
}

.wi-degrees:before {
    content: "\f042";
}

.current-date-month{
    display: flex;
    color: white;
}

.current-date{
    margin-left: 8px;
    font-size: 20px;
}

.current-month{
    font-size: 1em;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.main-div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.main-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    border: 1px solid #0000001c;
    padding-left: 5px;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.card-icon-1{
    display: flex;
}

h4{
    font-size: 20px;
}

.wi{
    font-size: 35px;
}

